nav img{ margin: 10px 0; width: 80px; }

nav.bg-dark{
	background-color: #00687f !important;
}

nav ul{
	margin-left: 160px;
}

.mr-auto {
  left: auto !important;
  right: 0px;
}

div.menu-content{
	padding-top: 30px;
}

.home{
	margin-top: 30px;
}

.home h2{
	margin-bottom: 20px;
}



/* ADD YOUR STYLES HERE */
