openapi: "3.0.0"
info:
  title: Cuentas Bancarias
  description: Define las interacciones con las cuentas bancarias de una empresa
  version: 1.0.0
servers:
  - url: https://tunuve.com/tunuve/api
    description: Servidor de producción
  - url: https://pruebas.tunuve.com/api
    description: Servidor de staging
  - url: http://localhost/sanjuan2/api
    description: Servidor de pruebas
security:
  - apiKey: []
paths:
  /cuentas_bancarias:
    get:
      summary: Devuelve un array con las cuentas bancarias de una empresa
      tags:
        - Cuentas bancarias
      # description: Devuelve un array con las cuentas bancarias de una empresa
      parameters:
        - name: id_empresa
          in: query
          description: identificador de la empresa
          required: true
          style: form
          schema:
            type: integer
        - name: hash
          in: query
          description: identificador del usuario
          required: true
          schema:
            type: string

      responses:

        200:
          description: Respuesta correcta
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id_cuenta_bancaria:
                      type: integer
                      description: Identificador de la cuenta bancaria
                      example: 17
                    id_empresa:
                      type: integer
                      description: Identificador de la empresa,
                      example: 45
                    iban:
                      type: string
                      description: IBAN de la empresa
                      example: ES0000000000000000000000
                    id_categoria_pf:
                      type: integer
                      description: Identificador de la categoría Profit First de la cuenta
                      example: 3
                    perc_obj_pf:
                      type: integer
                      description: Porcentaje objetivo PF de la cuenta
                      example: 15
        
        401:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/401'
        
        404:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/404'

        500:
          description: Error en el servidor # no entiendo por qué referenciado no funciona

        503:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/503'
          

    post:
      summary: Añade una cuenta bancaria de una empresa
      # description: Devuelve un array con las cuentas bancarias de una empresa
      tags:
        - Cuentas bancarias
      requestBody:
        # description: Pet to add to the store
        required: true
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/item'

      responses:

        200:
          $ref: '#/components/responses/item'
        
        201:
          description: Error en la creación
          content:
            application/json:
              schema:
                $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_schemas.yaml#/Error'

        401:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/401'
        
        404:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/404'

        500:
          description: Error en el servidor # no entiendo por qué referenciado no funciona

        503:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/503'
        
    
    put:
      summary: Modifica una cuenta bancaria de una empresa
      # description: Devuelve un array con las cuentas bancarias de una empresa
      tags:
        - Cuentas bancarias
      requestBody:
        # description: Pet to add to the store
        required: true
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/item'
              

      responses:

        200:
          $ref: '#/components/responses/item'
        
        201:
          description: Error en la creación
          content:
            application/json:
              schema:
                $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_schemas.yaml#/Error'

        401:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/401'


        404:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/404'

        500:
          description: Error en el servidor # no entiendo por qué referenciado no funciona

        503:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/503'

    delete:
      summary: Elimina una cuenta bancaria de una empresa
      tags:
        - Cuentas bancarias
      parameters:
        - name: id_cuenta_bancaria
          in: query
          description: identificador de la cuenta bancaria
          required: true
          schema:
            type: integer
        - name: hash
          in: query
          description: identificador del usuario
          required: true
          schema:
            type: string

      responses:

        200:
          description: Cuenta eliminada con éxito
          content:
            application/json:
              schema:
                $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_schemas.yaml#/OK'
        
        201:
          description: Error al eliminar
          content:
            application/json:
              schema:
                $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_schemas.yaml#/Error'

        401:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/401'

        403:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/403'
        
        404:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/404'

        500:
          description: Error en el servidor # no entiendo por qué referenciado no funciona

        503:
          $ref: 'https://tunuve.com/tunuve/openapi/spec/inc/common_responses.yaml#/503'
        

components:

  responses:
    'item':
      description: Respuesta correcta
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              properties:
                id_cuenta_bancaria:
                  type: integer
                  description: Identificador de la cuenta bancaria
                  example: 17
                id_empresa:
                  type: integer
                  description: Identificador de la empresa,
                  example: 45
                iban:
                  type: string
                  description: IBAN de la empresa
                  example: ES0000000000000000000000
                id_categoria_pf:
                  type: integer
                  description: Identificador de la categoría Profit First de la cuenta
                  example: 3
                perc_obj_pf:
                  type: integer
                  description: Porcentaje objetivo PF de la cuenta
                  example: 15

  schemas: 
    'item':
      required:
        - id_empresa
        - hash
        - iban
      properties:
        id_empresa:
          type: integer
          description: Identificador de la empresa
          example: 69
        hash:
          type: string
          description: Identificador del usuario
          example: "asfe3815"
        iban:
          type: string
          description: IBAN de la empresa
          example: ES0000000000000000000000
        id_categoria_pf:
          type: integer
          description: Identificador de la categoría Profit First de la cuenta
          example: 3
        perc_obj_pf:
          type: integer
          description: Porcentaje objetivo PF de la cuenta
          example: 15